:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-blue: #3050c4;
  --background-dark: #1a1a1a;
  --background-light: #f1f1f1;

  --bgc: var(--background-light);
  --mobile-width: 600px;

  background-color: var(--bgc);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
}

#app {
  height: 100vh;
  height: 100dvh;
  max-width: 1480px;
  max-height: 100vh;
  max-height: 100dvh;

  margin: 0 auto;
  text-align: center;
}

header {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--chakra-colors-chakra-body-bg);
  border-bottom: 1px solid var(--chakra-colors-gray-300);
}

main {
  overflow: hidden;
  width: 916px;
  max-width: 100vw;
}

aside {
  flex-shrink: 0;
  overflow: auto;
  border-right: 1px solid var(--chakra-colors-gray-300);

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  & h2 {
    position: sticky;
    top: 0;
    z-index: 123;
    margin: 0;
    padding-block: 14.5px;
    background: var(--chakra-colors-chakra-body-bg);
  }

  .journal-entries {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 639px) {
  aside {
    order: 1;
    border: none;
    padding-inline: 2px;

    & button {
      aspect-ratio: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    --bgc: var(--background-dark);
    --primary-blue: #2e55e3;
  }
}

textarea {
  border-radius: 6px;
  border: 1px solid var(--chakra-colors-gray-300);
}
.input-text {
  padding: 10px 15px;
  font-size: 1.2rem;

  &.submitted {
    background-color: transparent;
    border-color: transparent;
    resize: none;
  }
}

.btn {
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #3858cb;
  color: #fff;
  border-radius: 6px;
}

footer {
  margin-top: auto;
  padding-block-start: 2rem;
}
